################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lessons/Advanced. Lesson 3/Materials/Advanced. Lesson 3
/Player/Player/.vs/Player/v15/Server/sqlite3
/Player/Player/.vs/Player/v15
/Player/Player/Player/bin/Debug
/Player/Player/Player/obj/Debug
/Lessons/Advance. Lesson 5/Advance. Lesson 5/.vs/Advance. Lesson 5
/Lessons/Advance. Lesson 5/Advance. Lesson 5/Advance. Lesson 5/bin/Debug
/Lessons/Advance. Lesson 5/Advance. Lesson 5/Advance. Lesson 5/obj/Debug
/Lessons/Advenced. Lesson 4/Advenced. Lesson 4
/Lessons/Advenced. Lesson 6/Advence.Lesson 6
/Lessons/AudioPlayer/AudioPlayer/.vs/AudioPlayer/v15
/Lessons/AudioPlayer/AudioPlayer/AudioPlayer/bin/Debug
/Lessons/AudioPlayer/AudioPlayer/AudioPlayer/obj/Debug
/Lessons/Base. Lesson 6/Base. Lesson 6
/Lessons/Base. Lesson 7/Base. Lesson 7/.vs/Base. Lesson 7/v15
/Lessons/Base. Lesson 7/Base. Lesson 7/Base. Lesson 7/bin/Debug
/Lessons/Base. Lesson 7/Base. Lesson 7/Base. Lesson 7/obj/Debug
/Lessons/Base.Lesson 5/Base.Lesson 5/.vs/Base.Lesson 5/v15
/Lessons/Base.Lesson 5/Base.Lesson 5/Base.Lesson 5/bin/Debug
/Lessons/Base.Lesson 5/Base.Lesson 5/Base.Lesson 5
/Lessons/Basic. Lesson 4/Basic. Lesson 4/.vs/Basic. Lesson 4/v15
/Lessons/Basic. Lesson 4/Basic. Lesson 4/Basic. Lesson 4/obj/Debug
/Lessons/Basic. Lesson 4.1/Basic. Lesson 4.1
/Lessons
