################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lessons/Advanced. Lesson 3/Materials/Advanced. Lesson 3
/Player/Player/.vs/Player/v15/Server/sqlite3
/Player/Player/.vs/Player/v15
/Player/Player/Player/bin/Debug
/Player/Player/Player/obj/Debug
/Lessons/Advenced. Lesson 4/Advenced. Lesson 4/.vs/Advenced. Lesson 4/v15
/Lessons/Advenced. Lesson 4/Advenced. Lesson 4/Advenced. Lesson 4/bin/Debug
/Lessons/Advenced. Lesson 4/Advenced. Lesson 4/Advenced. Lesson 4/obj/Debug
/Lessons/Basic. Lesson 4/Basic. Lesson 4/.vs/Basic. Lesson 4/v15
/Lessons/Basic. Lesson 4/Basic. Lesson 4/Basic. Lesson 4/obj/Debug
/Lessons/Advance. Lesson 5/Advance. Lesson 5/.vs/Advance. Lesson 5
/Lessons/Advance. Lesson 5/Advance. Lesson 5/Advance. Lesson 5/bin/Debug
/Lessons/Advance. Lesson 5/Advance. Lesson 5/Advance. Lesson 5/obj/Debug
/Lessons/Basic. Lesson 4.1/Basic. Lesson 4.1/.vs/Basic. Lesson 4.1/v15
/Lessons/Basic. Lesson 4.1/Basic. Lesson 4.1/Basic. Lesson 4.1/bin/Debug
/Lessons/Basic. Lesson 4.1/Basic. Lesson 4.1/Basic. Lesson 4.1/obj/Debug
